<div id="profile_menu" class="float_right">
    <a href="/admin/index" class="btn menu_btn">Admin</a>
    <a href="/user/listAll" class="btn menu_btn">Alla användare</a>
    <a href="/user/create" class="btn menu_btn">Skapa användare</a>
    <a href="/user/logout" class="btn menu_btn">Logga ut</a>
</div>