<div id="menu">
    <a href="/post" class="btn menu_btn">Alla inlägg</a>
    <a href="/about" class="btn menu_btn">Om Webbtavlan</a>
    <a href="/rules" class="btn menu_btn">Regler</a>
    <a href="/contact" class="btn menu_btn">Kontakta oss</a>
</div>