<div id="profile_menu" class="float_right">
    <a href="/post/create" class="btn menu_btn">Skapa inlägg</a>
    <a href="/user/index" class="btn menu_btn">Mitt konto</a>
    <a href="/user/logout" class="btn menu_btn">Logga ut</a>
</div>