{% extends "skeleton.twig" %}

{% block title %}{{ h1 }}{% endblock %}

{% block content %}
    <h3>En digital version av de fysiska anslagstavlorna</h3>
    <div class="text_container">
        Webbtavlan är ett smidigt och snabbt sätt att sprida information till en större andel personer än de traditionella anslagstavlorna. <br><br>

        Webbtavlan riktar sig till föreningar och privatpersoner som helt gratis kan sprida information om t.ex. när en ny kurs börjar, <br>
        eller upplyser om en bortsprungen katt.<br><br>

        Webbtavlan är inte till för köp och sälj. Inte helt spridning av reliösa eller politiska budskap.
    </div>
{% endblock %}