{% extends "skeleton.twig" %}

{% block title %}{{ h1 }}{% endblock %}

{% block content %}
    <h3>En digital version av de fysiska anslagstavlorna</h3>
    <div class="text_container">
        Välj din ort nedan för att se vad som händer just där du bor!
        <div class="js-btn" data-task="Account.">Jupp</div>
    </div>
{% endblock %}