{% extends "skeleton.twig" %}

{% block title %}{{ h1 }}{% endblock %}

{% block content %}
    <h3>En digital version av de fysiska anslagstavlorna</h3>
    <div class="text_container">
        Webbtavlan riktar sig till föreningar och privatpersoner som helt gratis kan sprida information om t.ex. när en ny kurs börjar, <br>
        eller upplyser om en bortsprunget husdjur.<br><br>

        Webbtalvan tillåter inte publicering av: <br>
        <ul>
            <li>Köp och sälj av produkter eller tjänster</li>
            <li>Spridning av reliösa eller politiska budskap</li>
            <li>Mobbing eller andra personangrepp</li>
        </ul>
        <br><br>


    </div>
{% endblock %}