{% extends "skeleton.twig" %}

{% block title %}{{ h1 }}{% endblock %}

{% block content %}
    <div id="login_container">
        <form id="change_password_form" method="POST" action="">
            <label>Användarnamn*</label>
            <input type="email" name="username" placeholder="Användarnamn" value="{{ user.username }}" readonly required />
            <label>Lösenord*</label>
            <input type="password" name="password_1" value="" required />
            <label>Verifiera lösenord*</label>
            <input type="password" name="password_2" value="" required />
            <div class="btn js-btn" data-task='User.changePasswordForm'>Spara</div>
        </form>
    </div>
{% endblock %}