/* START STANDARD */

img {
	max-width: 100%;
	height: auto;
}

.col_2 {
	width: 15.666%;
	margin-right: 1%;
	vertical-align: top;
	display: inline-block;
	&:nth-child(5n+5){
		margin-right: 0;
	}
}
.col_3 {
	width: 23.875%;
	margin-right: 0.5%;
	vertical-align: top;
	display: inline-block;
	&:nth-child(4n+4){
		margin-right: 0;
	}
}
.col_4 {
	width: 32.3333%;
	margin-right: 0.5%;
	vertical-align: top;
	display: inline-block;
	&:nth-child(3n+3) {
		margin-right: 0;
	}
}
.col_6 {
	width: 49.25%;
	margin-right: 0.5%;
	vertical-align: top;
	display: inline-block;
	&:nth-child(2n+2){
		margin-right: 0;
	}
}
.col_7 {
	width: 57.25%;
	margin-right: 0.5%;
	vertical-align: top;
	display: inline-block;
}
.col_8 {
	width: 65.6%;
	margin-right: 0.5%;
	vertical-align: top;
	display: inline-block;
}
.col_9 {
	width: 74%;
	margin-right: 0.5%;
	vertical-align: top;
	display: inline-block;
}
.col_10 {
	width: 82.3%;
	margin-right: 0.5%;
	vertical-align: top;
	display: inline-block;
}
.col_12 {
	width: 100%;
	vertical-align: top;
	display: inline-block;
}
.section {
	width: 100%;
	float: left;
	margin-bottom: 40px;
}

.btn {
	display: inline-block;
	padding: 10px 15px;
	border: 1px solid #ccc;
	border-radius: 10px;
	background: #292929;
	text-decoration: none;
	color: #fff;
	font-weight: bold;

	&:hover {
		cursor: pointer;
	}
	&.btn_success {
		background: #58e655;
	}
	&.btn_error {
		background: #822418;
	}
}
.link_btn {
	&.hover {
		cursor: pointer;
	}
}
.menu_btn {
	background: transparent;
	border: 0;
	padding: 0;
}
.clear {
	clear: both;
}
.float_left {
	float: left;
}
.float_right {
	float: right;
}
.show {
	display: block;
}
.hide {
	display: none;
}
.show-inline {
	display: inline-block;
}

h1, h2, h3, h4, h5{
	font-weight: 600;
}

h1 {
	font-size: 30px;
	line-height: 36px;
	margin: 0 0 10px;
	display: inline-block;
}
h2{
	font-size: 26px;
	line-height: 32px;
	margin: 0 0 10px;
	display: inline-block;
}
h3, h4, h5{margin-top: 20px;}

h3, h4, h5{
	font-size: 18px;
	line-height: 26px;
	margin-bottom: 20px;
}

input {
	border: 1px solid #eee;
	padding: 10px;
	min-width: 300px;
}
.js-btn {
	&:hover {
		cursor: pointer;
	}
}

/* END STANDARD */

