{% extends "skeleton.twig" %}

{% block title %}{{ h1 }}{% endblock %}

{% block content %}
    <div id="login_container">
        <form id="login_account_form" method="POST" action="">
            <div class="input_container">
                <label>Användarnamn*</label>
                <input type="text" name="username" placeholder="Användarnamn" value="" required />
            </div>
            <div class="input_container">
                <label>Lösenord*</label>
                <input type="password" name="password" value="" required />
            </div>
            <div class="input_container">
                <!--<input type="submit" name="submit" value="Logga in" class="btn" />-->
                <div class="btn js-btn" data-task="Account.postLoginForm">Logga in</div>
            </div>
        </form>
    </div>
{% endblock %}
